<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>
    <main id="main">
        <%- body %>
        <%- partial('_partial/footer') %>
    </main>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
  <!-- 代码块复制功能 -->
  <script type="text/javascript" src="/js/clipboard.min.js"></script>
  <script type="text/javascript" src="/js/clipboard-use.js"></script>
</body>
</html>
